name: Main workflow

on:
  - pull_request
  - push

jobs:                
  build-and-test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
        ocaml-compiler:
          - 4.13.x

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use OCaml ${{ matrix.ocaml-compiler }}
        uses: avsm/setup-ocaml@v2
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}

      - name: Install system dependencies (via OPAM)
        run: |
          opam pin add libdash . --no-action
          opam depext libdash --yes --with-test
          
      - name: Build dash
        run: |
          if [ $(uname) = "Darwin" ]; then glibtoolize; else libtoolize; fi
          aclocal
          autoheader
          automake --add-missing
          autoconf
          ./configure
          make
          cp src/.libs/dlldash.so python/libdash.so
          if [ $(uname) = "Darwin" ]; then cp src/.libs/libdash.dylib python/; fi
            
      - name: Test Python bindings
        run: make -C python test
            
      - name: Install OCaml bindings
        run: opam install .
        
      - name: Test OCaml bindings
        run: |
          ldd $(which shell_to_json)
          opam exec -- make -C ocaml test

      - name: Compare OCaml and Python bindings
        run: opam exec -- make -C test test
        
